<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login HotDev Jobs</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link media="all" rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <meta charset="ISO-8859-1">
</head>
<body class="background">
<nav class="main_div">
    <div class="logo_left">
        <label class="logo">
            hotdevjobs
        </label>
        <label class="logo_com">
            .com
        </label>
    </div>
    <div class="logo_right">
        <label class="Candidate_login_btn">
            <a th:href="@{/login}">
                Job Candidate Login
            </a>
            <a th:href="@{/register}">
                /Register
            </a>
        </label>
        <label class="Recruiter_login_btn">
            <a th:href="@{/login}">
                Recruiter Login
            </a>
            <a th:href="@{/register}">
                /Register
            </a>

        </label>
    </div>
</nav>
<form th:action="@{/global-search/}">
    <div class="searchBox">
        <div class="inner">

            <input name="job" placeholder="Search for a job" th:value="${job}" type="text"/>
            <input name="location" placeholder="Enter a location" th:value="${location}" type="text"/>
            <button type="submit"><i class="fa fa-search"></i></button>

        </div>
    </div>
</form>
<footer>
    <label class="copy-right">Copyright © hotdevjobs.com</label>
</footer>
</body>

<script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>

</html>
